/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

/* common styles */

body{
    font-family: 'Poppins', sans-serif;
    

}
header{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.player-container-2{
    margin-top: 27px;
    width:1440px;
    background-color: #FFFFFF;
  }
  /* headings styles */

nav{
    display: flex;
    justify-content: space-around;
    background-color: #2D25A0;
    align-items: center;
    width: 1440px;
    padding-top: 42px;
    padding-right: 30px;

}
nav a{
    font-family: Poppins;
    text-decoration: none;
    color:#FFFFFF;
    font-size: 18px;
    margin-right:25px;
    width: 580px;
    height: 22px;

}

.login-btn,.watch-button{
    background-color: #E02C6D;
    font-size: 17px;
    color: #FFFFFF;
    width: 118px;
    height: 40px;
   
}
.banners{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2D25A0;
    width: 1440px;
    height: 675px;
 }
 .banner-details{
     padding-top:210px;
     padding-left:155px;
     padding-bottom:242px;
    
 }
 .banner-title{
     font-size: 65px;
     color:#FFFFFF ;
    
 }
 
 .watch-button{
     background-color: #E02C6D;
     font-size: 16px;
     color: #FFFFFF;
     width: 168px;
     height: 44px;
    
 }
 .top-banner img{
     width: 556.01px;
     height: 438px;
     padding-top: 153px;
     padding-bottom: 86px;
     padding-right: 140.99px;
 }
 .player-container{
    margin-top: 70px;
    width:1440px;
    background-color: #FFFFFF;
  }
.flexible-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    padding-left: 180px;
    padding-right: 210px;
    
}
.box-container{
    width: 315px;
   height: 490px;
    padding-right: 15px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    border-image-slice: 1;
}
.box-text{
    margin-top: 16px;
   padding-left: 15px;
    width: 300px;
    height: 154px;
  
}
.box-container h1{
    font-weight: 700;
    font-size: 28px;
    color:#18191F;
}
.box-container p{
    font-size: 16px;
    margin-top: 10px;
    color: #6C6C6C;
    
}
.player-img-area{
    width: 300px;
    height: 256px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;



}
/* Highlight part  styles*/

.highlights-container{
    margin-top: 165px;
    width:1440px;
    height: 600px;
    background-color:#FFFFFF;
  }

.highlights{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 66px;
    padding-right: 156px;
   
   
 }
 .highlights-details{
     padding-top:59px;
     padding-left:182px;
     padding-bottom:493px;
     width:469px;
    
 }
 .highlight-title{
     font-size: 48px;
     color:#0A0826;
    
 }
 
 .highlight-text{
    font-size:16px;

   color: #6C6C6C;
   
}
 
 .watchnow-button{
     background-color: #E02C6D;
     font-size: 16px;
     color: #FFFFFF;
     width: 168px;
     height: 44px;
    
 }
 .match-img img{
     width: 567px;
     height: 427px;
     padding-bottom: 434px;
    
    
 }
 
/* last styles to about */
.last-title{
    text-align: center;
    font-size: 50px;
}
.last-album{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    width: 1440px;
    padding-left:156px;
    
}
.last-frame{
    width: 380px;
    height: 500px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    position: relative;
    margin: 20px;
    overflow: hidden;
    
}
.last-frame:hover .photo-detail{
    display: block; 
    background-color: rgba(255, 238, 238, 0.7);
      
}
.photo img{
    height: 500px;
     width: 100%;
     border-radius: 10px;

}
.photo-detail h3{
    background-color:#25df1e;
    color: white;
    text-align: center;
}


.photo-detail{
    display: none;
    position: absolute;
    text-align: center;
    width: 380px;
    top: 0;
}
.last-frame:hover .photo{
    transform: scale(1) skew(180deg);
    transition: transform 3s ease-in-out;
}
hr{
    color: rgb(97, 89, 89);
}
.fa-clock{
    color: rgba(255, 94, 0, 0.945);
}
 /* Footer Section Styles */
 .footer-container{
    align-items: center;
    background-color: #FFFFFF;
  }
  .footer-contents{
    display: grid;
   align-items: center;
   justify-content: center;
    padding-bottom:40px ;
    
 }
  .footer-logo img{
      margin-top: 15px;
      margin-right: 100px;
    height: 100px;
    width: 450px;

}
.copyright{
    padding-left: 150px;
}
.copyright-text{
    margin-top: 18px;
    padding-left: -28px;
}
.social-icon a{
    text-decoration: none;
    height: 30px;
    width: 180px;
    padding-left: 27px;
    padding-bottom: 120px;
}